a {
	text-decoration: none;
}
.textLink {
	color: rgb(34 54 161);
	font-size: 20px;
	line-height: 20px;
}
.Hit {
	color: #833f01;
	font-size: 28px;
	line-height: 36px;
	font-weight: bold;
}
.Par {
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: #5c1036;
}
.Hit2 {
	color: #b54418;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 14px;
}
.img{
		display: block;
		width: 500px;
		height: 250px;
		background-position: 50%;
		object-position: 50px top;
		border: 10px solid red
	}
	.bg{
		background-image: url(./img/ff.jpg );
		background-size: cover;
	}
.Hit4{
	color: #5c350a;
	font-style: normal;
	font-size: 25px;
	line-height: 14px;
}